R_Code/server - Copy.R
R_Code/ui - Copy.R
Python_Code/__pycache__/functions.cpython-310.pyc
Python_Code/.idea/Portfolio_Project.iml
Python_Code/.idea/modules.xml
Python_Code/.idea/misc.xml
Python_Code/.idea/inspectionProfiles/Project_Default.xml
Python_Code/.idea/inspectionProfiles/profiles_settings.xml
